In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("Life Expectancy Data.csv")
print("Dataset Loaded Successfully")
df.head()

Dataset Loaded Successfully

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [3]:
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace(" ", "_")
df.columns = df.columns.str.replace("/", "_")
print("Cleaned Column Names:")
print(df.columns.tolist())

Cleaned Column Names:
['Country', 'Year', 'Status', 'Life_expectancy', 'Adult_Mortality', 'infant_deaths', 'Alcohol', 'percentage_expenditure', 'Hepatitis_B', 'Measles', 'BMI', 'under-five_deaths', 'Polio', 'Total_expenditure', 'Diphtheria', 'HIV_AIDS', 'GDP', 'Population', 'thinness__1-19_years', 'thinness_5-9_years', 'Income_composition_of_resources', 'Schooling']

In [4]:
print("Shape:", df.shape)
df.info()
df.describe()

Shape: (2938, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life_expectancy                  2928 non-null   float64
 4   Adult_Mortality                  2928 non-null   float64
 5   infant_deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage_expenditure           2938 non-null   float64
 8   Hepatitis_B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10  BMI                              2904 non-null   float64
 11  under-five_deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total_expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15  HIV_AIDS                         2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18  thinness__1-19_years             2904 non-null   float64
 19  thinness_5-9_years               2904 non-null   float64
 20  Income_composition_of_resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

,Year,Life_expectancy,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,Hepatitis_B,Measles,BMI,under-five_deaths,Polio,Total_expenditure,Diphtheria,HIV_AIDS,GDP,Population,thinness__1-19_years,thinness_5-9_years,Income_composition_of_resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [5]:
#Handling the missing values

df.fillna(df.median(numeric_only=True), inplace=True)
df['Status'].fillna(df['Status'].mode()[0], inplace=True)

print("Missing values after treatment:")
print(df.isnull().sum())

Missing values after treatment:
Country                            0
Year                               0
Status                             0
Life_expectancy                    0
Adult_Mortality                    0
infant_deaths                      0
Alcohol                            0
percentage_expenditure             0
Hepatitis_B                        0
Measles                            0
BMI                                0
under-five_deaths                  0
Polio                              0
Total_expenditure                  0
Diphtheria                         0
HIV_AIDS                           0
GDP                                0
Population                         0
thinness__1-19_years               0
thinness_5-9_years                 0
Income_composition_of_resources    0
Schooling                          0
dtype: int64

C:\Users\sruth\AppData\Local\Temp\ipykernel_17192\1508996736.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Status'].fillna(df['Status'].mode()[0], inplace=True)

In [6]:
#Removing duplicates
df.drop_duplicates(inplace=True)
print("Shape after removing duplicates:", df.shape)

Shape after removing duplicates: (2938, 22)

In [7]:
df = df[df['Status'] == 'Developing']
print("Shape after filtering Developing countries:", df.shape)

Shape after filtering Developing countries: (2426, 22)

In [8]:
df = df[['Country',
         'Year',
         'Status',
         'Life_expectancy',
         'Adult_Mortality',
         'infant_deaths',
         'GDP',
         'percentage_expenditure',
         'BMI',
         'HIV_AIDS',
         'Income_composition_of_resources',
         'Schooling']]

In [10]:
df.rename(columns={
    'Life_expectancy': 'LifeExpectancy',
    'Adult_Mortality': 'AdultMortality',
    'infant_deaths': 'InfantMortality',
    'percentage_expenditure': 'HealthExpenditure',
    'Income_composition_of_resources': 'IncomeLevel'
}, inplace=True)
print(df.columns.tolist())

['Country', 'Year', 'Status', 'LifeExpectancy', 'AdultMortality', 'InfantMortality', 'GDP', 'HealthExpenditure', 'BMI', 'HIV_AIDS', 'IncomeLevel', 'Schooling']

In [11]:
numeric_cols = df.select_dtypes(include=np.number).columns
Q1= df[numeric_cols].quantile(0.25)
Q3= df[numeric_cols].quantile(0.75)
IQR = Q3-Q1
df = df[~((df[numeric_cols] < (Q1 - 1.5 * IQR)) |
          (df[numeric_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

print("Shape after outlier removal:", df.shape)

Shape after outlier removal: (1444, 12)

In [12]:
df['InfantMortality'] = np.log1p(df['InfantMortality'])
df['GDP'] = np.log1p(df['GDP'])
df['HIV_AIDS'] = np.log1p(df['HIV_AIDS'])

In [13]:
df['Status'] = df['Status'].map({'Developing': 1})

In [14]:
scaler = StandardScaler()
numeric_cols = df.select_dtypes(include=np.number).columns
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
df.head()

,Country,Year,Status,LifeExpectancy,AdultMortality,InfantMortality,GDP,HealthExpenditure,BMI,HIV_AIDS,IncomeLevel,Schooling
0,Afghanistan,1.561308,0.0,-0.613633,1.149943,1.747340,-0.430811,-0.250997,-0.977252,-0.617411,-1.211492,-0.615824
1,Afghanistan,1.342931,0.0,-1.381211,1.239457,1.770305,-0.392852,-0.236686,-1.003683,-0.617411,-1.235962,-0.658406
2,Afghanistan,1.124553,0.0,-1.381211,1.205889,1.792574,-0.368397,-0.238627,-1.030114,-0.617411,-1.284902,-0.700989
16,Albania,1.561308,0.0,1.312837,-0.964825,-1.297118,1.097896,1.622023,1.079066,-0.617411,1.096846,1.130057
17,Albania,1.342931,0.0,1.267685,-1.703315,-1.297118,1.214668,2.028735,1.036777,-0.617411,1.088690,1.130057

In [15]:
df.to_csv("life_expectancy_cleaned.csv", index=False)
print("Cleaned dataset saved successfully")

Cleaned dataset saved successfully